{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Debugging Cake - Homepage</title>
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
    {% include 'navbar.html' %}
        <div class="welcome waviy" style="background-image: url({% static 'wallpaper.jpeg' %});">
   <span style="--i:2">W</span>
   <span style="--i:3">E</span>
   <span style="--i:4">L</span>
   <span style="--i:5">C</span>
   <span style="--i:6">O</span>
   <span style="--i:7">M</span>
   <span style="--i:8">E</span>
   <span style="--i:9">&nbsp &nbsp</span>
   <span style="--i:10">T</span>
            <span style="--i:1">O</span>
   <span style="--i:2">&nbsp &nbsp</span>
   <span style="--i:3">D</span>
   <span style="--i:4">E</span>
   <span style="--i:5">B</span>
   <span style="--i:6">U</span>
   <span style="--i:7">G</span>
   <span style="--i:8">G</span>
   <span style="--i:9">I</span>
   <span style="--i:10">N</span>
        <span style="--i:1">G</span>
   <span style="--i:2">&nbsp &nbsp</span>
   <span style="--i:3">T</span>
   <span style="--i:4">H</span>
   <span style="--i:5">E</span>
   <span style="--i:6">&nbsp &nbsp </span>
   <span style="--i:7">C</span>
   <span style="--i:8">A</span>
   <span style="--i:9">K</span>
   <span style="--i:10">E</span>
        </div>
{%endblock content %}